
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #020617;
  color: white;
}

header {
  display: flex;
  gap: 10px;
  padding: 15px;
  align-items: center;
}

.logo {
  cursor: pointer;
}

input, button {
  padding: 8px;
  border-radius: 6px;
  border: none;
}

button {
  background: #ec4899;
  color: white;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  padding: 20px;
}

.card {
  background: #111827;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 20px;
}

li {
  margin: 6px 0;
  cursor: pointer;
  color: #93c5fd;
}

.player {
  height: 300px;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  max-width: 300px;
  margin: 100px auto;
  background: #111827;
  padding: 20px;
  border-radius: 10px;
}
