
body {
  margin:0;
  font-family: Arial, sans-serif;
  background:#020617;
  color:white;
}

header {
  display:flex;
  gap:10px;
  padding:15px;
  background:#020617;
  position:sticky;
  top:0;
}

input,button {
  padding:8px;
  border-radius:6px;
  border:none;
}

button {
  background:#ec4899;
  color:white;
  cursor:pointer;
}

.grid {
  display:grid;
  grid-template-columns:repeat(auto-fill,200px);
  gap:20px;
  padding:20px;
  justify-content:center;
}

.card {
  background:#111827;
  border-radius:12px;
  overflow:hidden;
  cursor:pointer;
}

.card img {
  width:100%;
  height:280px;
  object-fit:cover;
}

.card h3 {
  padding:10px;
  font-size:14px;
}

.modal {
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.7);
  justify-content:center;
  align-items:center;
}

.modal-content {
  background:#020617;
  padding:20px;
  border-radius:10px;
}

.back {
  display:block;
  padding:15px;
}
